@media (max-aspect-ratio: 999 / 1000) {
  .landscape-only {
    display: none;
  }
}

@media (min-aspect-ratio: 1000 / 1000) {
  .portrait-only {
    display: none;
  }
}

@keyframes left-to-right {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 100%;
  }
}

h1 {
  font-family: 'Baloo Bhai', cursive;
  font-size: 4.2rem;
  margin: 0;
  font-weight: 600;
  line-height: 110%;
}

h2 {
  font-size: 3.56rem;
  margin: 0;
  font-weight: 400;
  line-height: 110%;
}

h3 {
  font-size: 2.92rem;
  margin: 0;
  font-weight: 400;
  line-height: 110%;
}

h4 {
  font-size: 2.28rem;
  margin: 0;
  font-weight: 400;
  line-height: 110%;
}

h5 {
  font-size: 1.64rem;
  margin: 0;
  font-weight: 400;
  line-height: 110%;
}

h6 {
  font-size: 1.15rem;
  margin: 0;
  font-weight: 400;
  line-height: 110%;
}
